network:
  version: 2
  ethernets:
    eth0:
      addresses:
      - {{ ip_cidr }}
      gateway4: {{ ansible_default_ipv4.gateway }}
      match:
        macaddress: {{ ansible_default_ipv4.macaddress }}
      nameservers:
        addresses:
        - 127.0.0.1
        search:
        - local
      set-name: eth0
